@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .h1 {
    font-size: 3.2em;
    font-weight: bold;
    line-height: 1.1;
  }
  .h2 {
    font-size: 2.62em;
    font-weight: bold;
    line-height: 1.1;
  }
  .h3 {
    font-size: 2.31em;
    line-height: 1.1;
  }
  .h4 {
    font-size: 1.81em;
    line-height: 1.1;
  }
  .h5 {
    font-size: 1.51em;
    line-height: 1.1;
  }
  .h6 {
    font-size: 1.21em;
    line-height: 1.1;
  }
}

@layer components {
  .icx-btn-primary {
    @apply icx-bg-primary-400 
          hover:icx-bg-primary-500
          focus:icx-bg-primary-500 
          active:icx-bg-primary-500
          icx-text-white;
  }

  .icx-btn-secondary {
    @apply icx-bg-secondary-400 
          hover:icx-bg-secondary-500 
          focus:icx-bg-secondary-500 
          active:icx-bg-secondary-500
          icx-text-white;
  }

  .icx-btn-disable {
    @apply icx-bg-disable-100 
          icx-text-disable-200 
            icx-cursor-not-allowed;
  }

  .icx-btn-alternative {
    @apply icx-bg-neutral-100 
          icx-border 
          icx-border-primary-400 
          icx-text-primary-400 
          hover:icx-bg-primary-400 
          hover:icx-text-white;
  }

  .icx-animate-fade-in {
    animation: dropdpwn-fade 0.5s;
  }

  @keyframes dropdpwn-fade {
    from {
      @apply icx-transform icx-opacity-0;
    }

    to {
      @apply icx-transform icx-opacity-100;
    }
  }

  .icx-checked-disabled {
    @apply icx-bg-gray-300
            icx-border-gray-300 
            icx-border
            after:icx-absolute 
            after:icx-inset-x-0 
            after:icx-top-[4px] 
            after:icx-m-auto 
            after:icx-w-1.5 
            after:icx-h-3 
            after:icx-border-r-2 
            after:icx-border-b-2 
            after:icx-border-white 
            after:icx-rotate-45
            icx-cursor-not-allowed;
  }

  .icx-unchecked-disabled {
    @apply icx-bg-gray-300
            icx-border-gray-300 
            icx-border
            icx-cursor-not-allowed;
  }

  .icx-checkbox-active {
    @apply icx-bg-white 
            peer-checked:icx-bg-primary-400 
            icx-border
            icx-ring-offset-2 
            icx-ring-primary-400 
            icx-duration-150 
            peer-active:icx-ring 
            icx-cursor-pointer 
            after:icx-absolute 
            after:icx-inset-x-0 
            after:icx-top-[4px] 
            after:icx-m-auto 
            after:icx-w-1.5 
            after:icx-h-3 
            after:icx-border-r-2 
            after:icx-border-b-2 
            after:icx-border-white 
            after:icx-rotate-45;
  }

  .icx-radio input {
    @apply icx-bg-white;
  }

  .icx-radio input:checked ~ label {
    @apply icx-bg-primary-400 
            icx-ring-offset-2 
            icx-ring-1 
            icx-ring-primary-400;
  }

  .icx-radio input:disabled ~ label {
    @apply icx-bg-gray-200 icx-border-gray-300 icx-cursor-not-allowed;
  }

  .icx-radio input:disabled:checked ~ label {
    @apply icx-bg-gray-200 
          icx-border-gray-300 
          icx-ring-offset-2 
          icx-ring-1
          icx-ring-gray-300
          icx-cursor-not-allowed;
  }

  .icx-toggle-checkbox:checked {
    @apply icx-right-0 icx-border-primary-400;
  }

  .icx-toggle-checkbox:disabled {
    @apply icx-border-gray-300 icx-cursor-not-allowed;
  }

  .icx-toggle-checkbox:checked + .icx-toggle-label {
    @apply icx-bg-primary-400;
  }

  .icx-toggle-checkbox:disabled + .icx-toggle-label {
    @apply icx-bg-gray-300 icx-cursor-not-allowed;
  }

  .icx-input-active {
    @apply icx-border 
            icx-border-neutral-200 
            icx-text-gray-600 
            icx-transition 
            icx-duration-300 
            icx-ease-out 
            focus:icx-border-primary-400;
  }
  .icx-input-disabled {
    @apply icx-border 
            icx-border-neutral-200 
            icx-bg-neutral-200
            icx-text-gray-600
            icx-cursor-not-allowed;
  }

  .icx-card-error {
    @apply icx-bg-error;
  }
  .icx-card-finish {
    @apply icx-bg-finish;
  }
  .icx-card-success {
    @apply icx-bg-success;
  }
  .icx-card-pending {
    @apply icx-bg-pending;
  }
}

.text-red-red {
  font-size: 20px;
  color: red;
}
