@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .h1 {
    font-size: 3.2em;
    font-weight: bold;
    line-height: 1.1;
  }
  .h2 {
    font-size: 2.62em;
    font-weight: bold;
    line-height: 1.1;
  }
  .h3 {
    font-size: 2.31em;
    line-height: 1.1;
  }
  .h4 {
    font-size: 1.81em;
    line-height: 1.1;
  }
  .h5 {
    font-size: 1.51em;
    line-height: 1.1;
  }
  .h6 {
    font-size: 1.21em;
    line-height: 1.1;
  }
}

@layer components {
  .icx-btn-primary {
    @apply icx-bg-primary-400 
          hover:icx-bg-primary-500
          focus:icx-bg-primary-500 
          active:icx-bg-primary-500
          icx-text-white;
  }

  .icx-btn-secondary {
    @apply icx-bg-secondary-400 
          hover:icx-bg-secondary-500 
          focus:icx-bg-secondary-500 
          active:icx-bg-secondary-500
          icx-text-white;
  }

  .icx-btn-success {
    @apply icx-bg-success-300 
          hover:icx-bg-success-100  
          focus:icx-bg-success-100 
          active:icx-bg-success-100 
          icx-text-white;
  }

  .icx-btn-error {
    @apply icx-bg-error-100 
          hover:icx-bg-error-200  
          focus:icx-bg-error-200 
          active:icx-bg-error-200 
          icx-text-white;
  }

  .icx-btn-disable {
    @apply icx-bg-disable-100 
          icx-text-disable-200 
            icx-cursor-not-allowed;
  }

  .icx-btn-alternative {
    @apply icx-bg-neutral-100 
          icx-border 
          icx-border-primary-400 
          icx-text-primary-400 
          hover:icx-bg-primary-400 
          hover:icx-text-white;
  }

  .icx-animate-fade-in {
    animation: dropdpwn-fade 0.5s;
  }

  @keyframes dropdpwn-fade {
    from {
      @apply icx-transform icx-opacity-0;
    }

    to {
      @apply icx-transform icx-opacity-100;
    }
  }

  .icx-checked-disabled {
    @apply icx-bg-gray-300
            icx-border-gray-300 
            icx-border
            after:icx-absolute 
            after:icx-inset-x-0 
            after:icx-top-[4px] 
            after:icx-m-auto 
            after:icx-w-1.5 
            after:icx-h-3 
            after:icx-border-r-2 
            after:icx-border-b-2 
            after:icx-border-white 
            after:icx-rotate-45
            icx-cursor-not-allowed;
  }

  .icx-unchecked-disabled {
    @apply icx-bg-gray-300
            icx-border-gray-300 
            icx-border
            icx-cursor-not-allowed;
  }

  .icx-checkbox-active {
    @apply icx-bg-white 
            peer-checked:icx-bg-primary-400 
            icx-border
            icx-ring-offset-2 
            icx-ring-primary-400 
            icx-duration-150 
            peer-active:icx-ring 
            icx-cursor-pointer 
            after:icx-absolute 
            after:icx-inset-x-0 
            after:icx-top-[4px] 
            after:icx-m-auto 
            after:icx-w-1.5 
            after:icx-h-3 
            after:icx-border-r-2 
            after:icx-border-b-2 
            after:icx-border-white 
            after:icx-rotate-45;
  }

  .icx-radio input {
    @apply icx-bg-white;
  }

  .icx-radio input:checked ~ label {
    @apply icx-bg-primary-400 
            icx-ring-offset-2 
            icx-ring-1 
            icx-ring-primary-400;
  }

  .icx-radio input:disabled ~ label {
    @apply icx-bg-gray-200 icx-border-gray-300 icx-cursor-not-allowed;
  }

  .icx-radio input:disabled:checked ~ label {
    @apply icx-bg-gray-200 
          icx-border-gray-300 
          icx-ring-offset-2 
          icx-ring-1
          icx-ring-gray-300
          icx-cursor-not-allowed;
  }

  .icx-toggle-checkbox:checked {
    @apply icx-right-0 icx-border-primary-400;
  }

  .icx-toggle-checkbox:disabled {
    @apply icx-border-gray-300 icx-cursor-not-allowed;
  }

  .icx-toggle-checkbox:checked + .icx-toggle-label {
    @apply icx-bg-primary-400;
  }

  .icx-toggle-checkbox:disabled + .icx-toggle-label {
    @apply icx-bg-gray-300 icx-cursor-not-allowed;
  }

  .icx-input-active {
    @apply icx-border 
            icx-border-neutral-200 
            icx-text-gray-700 
            icx-transition 
            icx-duration-300 
            icx-ease-out 
            focus:icx-border-primary-400;
  }
  .icx-input-disabled {
    @apply icx-border 
            icx-border-neutral-200 
            icx-bg-neutral-200
            icx-text-gray-700
            icx-cursor-not-allowed;
  }

  .icx-card-error {
    @apply icx-bg-error-100;
  }
  .icx-card-info {
    @apply icx-bg-info;
  }
  .icx-card-success {
    @apply icx-bg-success-100;
  }
  .icx-card-success-light {
    @apply icx-bg-success-300;
  }
  .icx-card-warning {
    @apply icx-bg-warning;
  }
  .icx-card-primary {
    @apply icx-bg-primary-400;
  }
  .icx-card-inactive {
    @apply icx-bg-neutral-200;
  }

  .icx-selector-disabled {
    @apply icx-bg-neutral-200
    icx-cursor-not-allowed;
  }

  .icx-selector-active {
    @apply focus:icx-outline-none 
    focus:icx-border-primary-400
    icx-bg-white
    icx-cursor-pointer;
  }

  .icx-area-disabled {
    @apply icx-bg-neutral-200 
    icx-cursor-not-allowed;
  }

  .icx-area-active {
    @apply icx-bg-white 
    icx-transition 
    icx-duration-300 
    icx-ease-out 
    focus:icx-outline-none
    focus:icx-border-primary-400;
  }

  .alert {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.text-red-red {
  font-size: 20px;
  color: red;
}

.popover-open {
  overflow: hidden;
}

.icx-skeleton {
  opacity: .7;
  animation: icx-skeleton-loading 1s linear infinite alternate;
}

@keyframes icx-skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.icx-header-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 1rem;
  flex-shrink: 0;
}